<div style="background-color: white; height: 100%;" fxLayout="column">
  <div>
    <mat-toolbar color="primary" style="position: sticky; top: 0px; z-index: 9999;">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="search-container ml-2 mr-2">
            <button mat-icon-button>
              <mat-icon color='primary' aria-label="Search">search</mat-icon>
            </button>
            <input autofocus placeholder="Search" (keyup)="applyFilter($event)" class="search-input">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-stroked-button color="primary" style="color: white;"[matMenuTriggerFor]="city">City</button>
          <mat-menu #city="matMenu">
            <button mat-menu-item>Skudai</button>
            <button mat-menu-item>Johor Bahru</button>
          </mat-menu>
          <button mat-stroked-button color="primary" (click)="openDialog()" style="color: white;">Download</button>
          <button mat-stroked-button color="primary" style="color: white;">New Request</button>
        </div>
      </div>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width: 100%">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>